/* Netflix-inspired theme */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    color: #fff;
    line-height: 1.6;
}

.navbar {
    background-color: #222;
    padding: 10px 0;
    display: flex; 
    justify-content: flex-end;
}
.navbar-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #141414;
}

.logo-contact a {
    font-size: 24px;
    font-weight: bold;
    color: #e50914;
    text-decoration: none;
}

.nav-links-contact {
    list-style: none;
    display: flex;
}

.nav-links-contact li {
    margin-left: 20px;
}

.nav-links-contact a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links-contact a:hover {
    color: #e50914;
}

.about-section-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #000;
    padding: 20
}