body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
}

.navbar {
    background-color: #00796b;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline;
    margin-left: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

h1 {
    color: #00796b;
    text-align: center;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    border: 1px solid #00796b;
    border-radius: 5px;
}

button {
    background-color: #00796b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
