.header
{
width:100%;
height:100vh;

background-size: cover;
background-position: center;
background-color: black;
position:relative;

}


.nav {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #d71010;
padding: 15px 20px;
width:100%;
}

/* Logo Styling */
.logo {
height: 50px;
width: auto;
}

/* Navigation Menu Styling */
.nav ul {
list-style: none;
display: flex;
align-items: center;
}

.nav ul li {
margin: 0 15px;
}

.nav ul li a {
color: #fff;
text-decoration: none;
font-size: 16px;
transition: color 3s ease;
font-weight: bolder;
}

.nav ul li a:hover {

font-size: 23px;
}

/* Sign In Button Styling */
.signin {
background-color: #f5410a;
color: #fff;
border: none;
padding: 10px 20px;
cursor: pointer;
font-size: 16px;
font-weight: bolder;
transition: background-color 0.3s ease;
}

.signin:hover {
background-color: #d64b44;
}


.button
{
outline: none;
border: none;;
}
.content
{
position: absolute;
top:70%;
left:50%;
transform: translate(-50%,-50%);
margin-top: 20px;
/* background-color: rgb(0, 0, 0); */
background-color: rgb(18, 130, 227);
text-align: center;
}
.content h1
{
font-size: 60px;
line-height: 70px;
width:650px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.content h3{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-bottom: 20px;
margin-top: 12px;
font-weight:200;
}
.content p{
padding-bottom: 14px;
font-size: 12px;
font-weight: 700px;
}
.mainimage
{
    align-content: center;
    align-items: center;
    display: flex;
    margin-left: 150px;;
}
.email
{
height:40px;
border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
background-color: white;
outline: 0;
border: none;
width:330px;
margin-right: 0px;

}
.email::placeholder
{
font-size: 12px;
padding-left: 10px;
color: gray;
font-weight: 600;
}
.getstarted
{
height: 40px;
margin-left: 0px;
width:130px;
text-align: center;
background-color: red;
color:white;
outline: 0;
border: none;
font-size: 16px;
border-top-right-radius: 4px;
border-bottom-right-radius:4px ;
}
.input
{
display: flex;
align-items: center;
justify-content: center;
}

.features
{
padding:50px 12%;
font-size:22px;
margin-top: 200px;;

}
.box1
{
display: flex;
flex-direction: row;
align-items: center;
flex-wrap: wrap;
width: 100%;
padding:5px 0;


}
.text
{
flex-basis: 50%;
margin-bottom: 20px;

}
.pic
{
flex-basis: 50%;
margin-bottom: 20px;;
}
.pic img
{
display: block;
margin: auto;
width:90%;

}
.text h2{
margin-bottom: 12px;
}
.text p{
line-height: 30px;
font-weight: 200;
}
.faq
{
padding:10px 12%;
text-align:center;
font-size:18px;
}
ul
{
list-style-type: none;


}
.questions
{

margin: 60px auto;
width: 100%;
max-width:750px;
}
.questions li{
list-style: none;
width: 100%;
padding:5px;
}
.questions li label{
display:flex;
background-color: blueviolet;
align-items: center;
padding: 20px;
font-size: 18px;
font-weight: 500;
background-color: #303030;
cursor: pointer;
position:relative;
margin-bottom: 2px;
}
label::after{
content:'+';
position: absolute;
right: 20px;
font-size: 35px;
transition: transform 1s;
}
input[type="radio"]
{
display: none;
}
.questions .answer
{
background-color:#303030;
text-align: left;
padding: 0 20px;
max-height: 0;
overflow: hidden;
margin-top: 6px;
margin-bottom: 6px;
transition: max-height 0.5s,padding 0.5s;
}
.questions input[type="radio"]:checked + label + .answer
{
max-height: 600px;
padding: 30px 20px;
}

.questions input[type="radio"]:checked + label::after
{
transform: rotate(135deg);
}
.note
{

position: absolute;
left: 489px;
font-size: 10px;
color:rgb(219, 229, 18);
padding-top: 5px;
}
.footer
{
  
    padding: 30px;
display:flex;
flex-direction: column;
border-top:6px solid gray;
margin-top:30px;
width:100%;
margin-bottom: 30px;
}
.title
{
margin-left: 210px;
margin-top: 100px;
color:#b3aaaa
}
.footer h2{
font-size: 15px;
font-weight: 200;

}
.links
{

display: flex;
padding: 20px;
margin-top: 20px;
justify-content: center;

}
.b1
{
display: flex;
flex-direction: column;
padding: 20px;

flex-basis: 18%;
justify-content: center;
align-items: left;
margin-right: 12px;

}
.links a{
text-decoration: none;
font-size: 14px;
color:#b3aaaa;
padding: 10px;;
font-weight: bolder;
}
.last
{
display:flex;
flex-direction: column;
margin-left: 210px;
justify-content: left;
color:#b3aaaa;
}
.last button{
margin-bottom: 33px;

}